<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{description}}">
  <meta name="author" content="{{author}}">
  <title>{{name}}</title>
  <link rel="stylesheet" type="text/css" href="./dist/build.css" />

  </head>

  <body>
    <div id="app" m-mask>
      <Header content="Moon"></Header>
    </div>
    <script src="./dist/build.js"></script>
  </body>

</html>
