<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{description}}">
  <meta name="author" content="{{author}}">
  <title>{{name}}</title>
  <link rel="stylesheet" type="text/css" href="./css/styles.css" />

  </head>

  <body>
    <div id="app">
      <h1 m-mask>{{title}}</h1>
      <div class="links" m-mask>
        <a href="https://kingpixil.github.io/moon">DOCS</a>
        <a href="https://github.com/KingPixil/moon">GITHUB</a>
      </div>
    </div>
    <script src="https://unpkg.com/moonjs@{{version}}"></script>
    <script src="./js/scripts.js"></script>
  </body>

</html>
